@import "src/variables.scss";
.contact {
    height: 80vh;  
    width: 100%;  
    background-color: $color-white;
    &__content {
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: $color-primary;
    }
    &__title {
        &-content {
            color: $color-secondary;
            font-size: 36px;

        }
    }
    &__subtitle {
        &-content {
            color: $color-secondary;
            font-size: 32px;
        }
    }
    &__text {
        &-content {
            color: $color-secondary;
            font-size: 24px;
        }
    }
    &__subtext {
        &-content {
            color: $color-secondary;
            font-size: 24px;
        }
    }
    &__button {
        padding-top: 35px;
        &-content {
            width: 305px;
            height: 60px;
            background-color:$color-button-primary;
            color: $color-white;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.5s;
            font-size: 24px;
            &:hover {
                background-color: $color-button-secondary;
            }
        }
    }
}

@media (max-width: 720px) {
    .contact {
        &__content {

        }
        &__title {
            width: 354px;
            &-content {
                font-size: 24px;
                font-weight: 700px;
                text-align: center;
            }
        }
        &__subtitle {
            width: 354px;
            &-content {
                font-size: 20px;
                text-align: center;
            }
        }
        &__text {
            width: 220px;
            &-content {
                font-size: 14px;
                text-align: center;
            }
        }
        &__subtext {
            width: 220px;
            &-content {
                font-size: 14px;
                text-align: center;
            }
        }
        &__button {
            &-content {
                width: 205px;
                height: 45px;
                font-size: 16px
            }
        }
    }
}