<section class="contact" id="contact">
  <div class="contact__title">
    <h2 class="contact__title-content">¡No esperés más para sumarte!</h2>
  </div>
  <div class="contact__text">
    <p class="contact__text-content">Horarios de atención</p>
  </div>
  <div class="contact__subtext">
    <p class="contact__subtext-content">
      Lunes a Viernes de 10:00 a 20:00 horas
    </p>
  </div>
  <div class="contact__button">
    <a
      href="https://wa.me/5493813043142?text=Hola Luciana, ¡Quiero comenzar a mejorar mi vida!"
      target="_blank"
      >Contactar</a
    >
  </div>
</section>
