<section class="aboutme" id="about-me">
  <div class="aboutme__content">
    <div class="aboutme__content-title">
      <h2 class="aboutme__content-title-mobile">TE CUENTO SOBRE MÍ</h2>
    </div>
    <div class="aboutme__content-text">
      <p class="aboutme__content-text-center">
        ¡Hola! Mi nombre es Luciana Corzo y soy Profesora de Educacion Física,
        Personal Trainer y Atleta Profesional de Bikini Fitness.
      </p>
      <p class="aboutme__content-text-center">
        Hace más de 11 años que formo parte del mundo del fitness y la
        nutrición. Durante todos este tiempo, consegui ganar numerosas
        competencias a nivel internacional, cumpliendo mis objetivos y
        acompañando cada dia a mis alumnos a cimplis los suyos.
      </p>
      <p class="aboutme__content-text-center">
        Ahora te toca a vos. No esperes para mejorar tu estilo de vida y
        conseguir resultados reales.
      </p>
      <p class="aboutme__content-text-center">¡Empecemos Ya!</p>
    </div>
  </div>
  <div class="aboutme__image">
    <div class="aboutme__image-content">
      <img
        src="assets/image/imageAboutMeLeft.png"
        alt="imageAboutMe"
        (click)="openModal('assets/image/imageAboutMeLeft.png')"
      />
    </div>
    <div class="aboutme__image-content">
      <img
        src="assets/image/imageAboutMeCenter.png"
        alt="imageAboutMe"
        (click)="openModal('assets/image/imageAboutMeCenter.png')"
      />
    </div>
    <div class="aboutme__image-content">
      <img
        src="assets/image/imageAboutMeRight.png"
        alt="imageAboutMe"
        (click)="openModal('assets/image/imageAboutMeRight.png')"
      />
    </div>
  </div>
</section>
