<section class="aboutme">
    <div class="aboutme__content">
        <div class="aboutme__content-title">
            <h2>TE CUENTO SOBRE MÍ</h2>
        </div>
        <div class="aboutme__content-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero accusantium tempora beatae cupiditate a cum? Voluptates officia soluta, in sunt placeat cum iste vitae maiores dolores cumque aliquid reiciendis accusamus.
            Animi iusto illum distinctio sit qui, veritatis corrupti iste nostrum harum provident ipsa minima ullam deserunt magni dolorum eligendi voluptates obcaecati eveniet est, aperiam sequi consectetur corporis debitis? At, iure!
            Commodi deleniti minus nostrum beatae ab debitis, adipisci quas atque dignissimos labore iusto reiciendis architecto perferendis magni corrupti iste temporibus fugit harum laborum rem esse a? Error a architecto vel?
            Hic fugit, sapiente tenetur eaque, vel dolore dignissimos deleniti ut explicabo, veniam aspernatur facere? Est odio ut modi assumenda vel deserunt temporibus voluptatum nam sed accusamus? Voluptatem hic quaerat officia?
            Cupiditate eos delectus architecto quis similique voluptates optio ea inventore doloremque dolorem debitis suscipit, quibusdam sunt, harum itaque libero sapiente? Blanditiis voluptas eligendi officia neque ullam excepturi dignissimos, dolor cumque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio soluta atque quo quaerat, saepe adipisci asperiores porro cupiditate deserunt. Porro minus aut modi asperiores aliquam ullam blanditiis quasi soluta odit.
            Magnam ullam corrupti facere natus ipsum recusandae iste vero ea reiciendis reprehenderit quas architecto animi illum facilis beatae officia illo dolorem, vitae officiis itaque deserunt voluptates et consectetur. Soluta, dignissimos!
            Ad laudantium officiis ipsam et rem expedita cupiditate delectus illo quod fugiat iure ipsum quo est, quae soluta ab unde laborum incidunt repellat harum doloremque corporis! Ullam tenetur nobis quos.
            Modi ab ducimus architecto sunt adipisci numquam commodi assumenda molestias facere autem nostrum iste optio eveniet consequuntur harum, repellat laborum asperiores ipsum magni error odio quibusdam ipsam. Vitae, dignissimos possimus.
            Earum, autem? Unde quia labore debitis sapiente, commodi libero, pariatur eius, odio ipsam et iusto. Architecto eius illum necessitatibus, excepturi rem distinctio fuga, impedit exercitationem blanditiis voluptates perferendis ex fugit!</p>
        </div>
    </div>
    <div class="aboutme__image">
        <div class="aboutme__image-content">
            <img src="assets/image/imageAboutMe.png" alt="imageAboutMe">
        </div>
        <div class="aboutme__image-content">
            <img src="assets/image/imageAboutMe.png" alt="imageAboutMe">
        </div>
    </div>
</section>