<section class="about-me" id="about-me">
  <div class="about-me__info">
    <div class="about-me__info-text">
      <div class="about-me__info-text-title">Te cuento sobre mí</div>
      <div class="about-me__info-text-paragraph">
        <span
          >¡Hola! Mi nombre es Luciana Corzo y soy Profesora de Educación
          Física, Personal Trainer y Atleta Profesional de Bikini Fitness, con
          más de 11 años de experiencia en el mundo del fitness y la
          nutrición.</span
        >
        <span
          >Durante todo este tiempo, gané numerosas competencias a nivel
          internacional y conseguí cumplir mis objetivos. Todos los días, guío a
          mis alumnos hacia el éxito .y los acompaño en el proceso de conseguir
          sus propios objetivos.</span
        >

        <span
          >Ahora te toca a vos. No esperes más para mejorar tu estilo de vida y
          conseguir resultados reales. ¡Empezemos ya!</span
        >
      </div>
    </div>
    <div class="about-me__info-action">
      <a class="about-me__info-action-button" href="">Saber más</a>
    </div>
  </div>
  <div class="about-me__img">
    <img src="assets/image/about me 2024.png" alt="About me Luciana Corzo">
  </div>
</section>

<!-- <section class="aboutme" id="about-me">
  <div class="aboutme__content">
    <div class="aboutme__content-title">
      <h2 class="aboutme__content-title-mobile">TE CUENTO SOBRE MÍ</h2>
    </div>
    <div class="aboutme__content-text">
      <p class="aboutme__content-text-center">
        ¡Hola! Mi nombre es Luciana Corzo y soy Profesora de Educacion Física,
        Personal Trainer y Atleta Profesional de Bikini Fitness.
      </p>
      <p class="aboutme__content-text-center">
        Hace más de 11 años que formo parte del mundo del fitness y la
        nutrición. Durante todo este tiempo conseguí ganar numerosas
        competencias a nivel internacional, cumpliendo mis objetivos y
        acompañando cada día a mis alumnos a cumplir los suyos.
      </p>
      <p class="aboutme__content-text-center">
        Ahora te toca a vos. No esperes para mejorar tu estilo de vida y
        conseguir resultados reales.
      </p>
      <p class="aboutme__content-text-center">¡Empecemos Ya!</p>
    </div>
  </div>
  <div class="aboutme__image">
    <div class="aboutme__image-content">
      <img
        src="assets/image/about-me-left.jpg"
        alt="imageAboutMe"
        (click)="openModal('assets/image/about-me-left.jpg')"
      />
    </div>
    <div class="aboutme__image-content">
      <img
        src="assets/image/imageAboutMeCenter.png"
        alt="imageAboutMe"
        (click)="openModal('assets/image/imageAboutMeCenter.png')"
      />
    </div>
    <div class="aboutme__image-content">
      <img
        src="assets/image/imageAboutMeRight.jpeg"
        alt="imageAboutMe"
        (click)="openModal('assets/image/imageAboutMeRight.jpeg')"
      />
    </div>
  </div>
</section> -->
