<section class="footer">
    <div class="footer__content">
        <div class="footer__content-icons">
            <img src="assets/icons/iconoFooter.png" alt="imageIcons" class="footer__content-icons-image">
            <h2>LuCorzo.PRO,2023</h2>
        </div>
        <div class="footer__content-rigth">
            <div class="footer__content-rigth-phone">
                <mat-icon class="footer__content-rigth-phone-center">local_phone</mat-icon>
            </div>
            <div class="footer__content-rigth-video">
                <mat-icon class="footer__content-rigth-video-center">video_library</mat-icon>
            </div>
        </div>
    </div>
</section>
