<section class="footer">
  <div class="footer__content">
    <div class="footer__content-icons">
      <img
        src="assets/icons/Lu_Corzo_Logo_footer.png"
        alt="imageIcons"
        class="footer__content-icons-image"
      />
    </div>
    <div class="footer__content-icons-text">LuCorzo.PRO, 2024</div>
    <div class="footer__content-rigth">
      <div class="footer__content-rigth-phone">
        <a
          href="https://wa.me/5493813043142?text=Hola Luciana, ¡Quiero comenzar a mejorar mi vida!"
          target="_blank"
          class="footer__content-rigth-phone-link"
        >
          <img src="assets/icons/ri_whatsapp-fill.svg" alt="Whatsapp Link" />
        </a>
      </div>

      <div class="footer__content-rigth-instagram">
        <a
          href="https://instagram.com/lucorzo.pro"
          target="_blank"
          class="footer__content-rigth-instagram-link"
        >
          <img src="assets/icons/ri_instagram-fill.svg" alt="instagram Link" />
        </a>
      </div>

      <div class="footer__content-rigth-video">
        <a
          href="https://www.youtube.com/@lucorzopro"
          class="footer__content-rigth-video-link"
        >
          <img src="assets/icons/mdi_youtube.svg" alt="Youtube Link" />
        </a>
      </div>
    </div>
  </div>
</section>
