<section class="footer">
    <div class="footer__content">
        <div class="footer__content-icons">
            <img src="assets/icons/iconoFooter.png" alt="imageIcons" class="footer__content-icons-image">
            <h2 class="footer__content-icons-text">LuCorzo.PRO,2023</h2>
        </div>
        <div class="footer__content-rigth">
            <div class="footer__content-rigth-phone">
                <a href="https://web.whatsapp.com/" class="footer__content-rigth-phone-link">
                    <mat-icon class="footer__content-rigth-phone-center">local_phone</mat-icon>
                </a>
            </div>

            <div class="footer__content-rigth-instagram">
                <a href="https://www.instagram.com/accounts/suspended/?next=https%3A%2F%2Fwww.instagram.com%2F%3F__coig_ufac%3D1" class="footer__content-rigth-instagram-link">
                    <mat-icon class="footer__content-rigth-instagram-center"> local_see</mat-icon>
                </a>
            </div>

            <div class="footer__content-rigth-video">
               <a href="https://www.youtube.com/" class="footer__content-rigth-video-link">
                <mat-icon class="footer__content-rigth-video-center">video_library</mat-icon>
               </a> 
            </div>
        </div>
    </div>
</section>
