@import "src/variables.scss";
.hero {
    padding: 15px 0;
    padding-top: 113px;
    &__image{
        background-image: url("/assets/image/imageHero.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 821px;
    &-title {
        position: absolute;
        top: 55%;
        left: 23%;
        width: 691px;
        height: 132px;
        &-content{
            font-size: 60px;
            color: white;
        }
    }
    &-button {
        position: absolute;
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
        border: 0;
        padding: 15px;
        &-content {
            width: 305px;
            height: 60px;
            padding: 10px 20px;
            background-color: $color-button-primary;
            color: white;
            border-radius: 50px;
            cursor: pointer;
            font-size: 24px;
            font-weight: 700;            
            transition: 0.5s;
            &:hover {
                background-color: $color-button-secondary;
            }
        }
 }
}
}

@media (max-width: 720px) {
    .hero {
        padding: 0;
        &__image {
            background-image: url("/assets/image/imageHeroMobile.png");
            width: 412px;
            height: 390px;
            &-title {
                top: 22%;
                left: 12%;
                width: 321px;
                height: 66px;
                text-align: center;
                &-content {
                    font-size: 30px;
                }
            }
        &-button {
            top: 37%;
            left: 50%;
            &-content {
                font-size: 14px;
                width: 205px;
                height: 45px;
                padding: 0;
            }
        }
    }
}
}
