<section class="hero">
  <div class="hero__backdrop"></div>
  <div class="hero__image">
    <div class="hero__image-title">
      <h1 class="hero__image-title-content">CONSTRUYAMOS TU MEJOR VERSIÓN</h1>
    </div>
    <div class="hero__image-actions">
      <a class="hero__image-actions-button" href="#plans">
        Conocer más
      </a>
      <a class="hero__image-actions-button" href="#contact">
        <img class="hero__image-actions-button-icon" src="assets/icons/whatsapp.svg" alt="whatsapp icon">
        Contactar
      </a>
    </div>
  </div>
</section>
