<section class="plans">
    <div class="plans__title">
        <h2 class="plans__title-content">PLANES DE ENTRENAMIENTO PERSONALIZADO</h2>
    </div>
    <div class="plans__text">
         <p class="plans__text-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati tempora nulla voluptate quia exercitationem dolorum optio quo porro! Dolorem aliquam, laudantium nostrum suscipit nam facilis corrupti quis quibusdam natus voluptas?
            Nulla reiciendis facilis deleniti minus cupiditate vitae obcaecati fugiat eius tempora quidem dolores, quis praesentium illo accusantium. Eius accusantium dolores enim. Maxime dolore quae quasi beatae harum eveniet quia quaerat.
            Fugit saepe, veritatis culpa id facere accusantium ipsam eum rem fugiat perspiciatis harum consequuntur ea ipsa minima dolorum neque velit sit sunt nisi blanditiis tempora reiciendis? Perspiciatis quibusdam sed voluptatibus. </p>
    </div>

   <div class="plans__image">
       
       <div class="plans__image-content">
        <div>img</div>
        <div>title</div>
        <div>subtitle</div>
        </div>
        <div class="plans__image-content">
            <div>img</div>
            <div>title</div>
            <div>subtitle</div>
        </div>       
       <div class="plans__image-content">
        <div>img</div>
        <div>title</div>
        <div>subtitle</div>
       </div>

   </div>

</section>
