@import "src/variables.scss";
.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        &-content {
            color: $color-secondary;
            font-size: 36px;
            font-weight: 700;
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1130px;
        &-content {
            color:$color-secondary;
            align-items: end;
            font-size: 24px;
        }
    }
    &__image {
        display: flex;
        gap: 76px;
        &-content {
            display: flex;
            padding-bottom: 50px;
            &-personalized {
                width: 325px;
                height: 480px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 720px)  {
    .plans {
        &__title {
            width: 286px;
            &-content {
                font-size: 20px;
                text-align: center;
            }
        }
        &__text {
            width: 358px;
            &-content {
                font-size: 14px;
                text-align: center;
            }
        }
        &__image {
            display: flex;
            flex-direction: column;
            gap: 10px;
            &-content {
                padding-bottom: 0;
                &-personalized {
                    width: 240px;
                    height: 280px;
                }
            }
        }
    }
}