<section class="plans" id="plans">
  <div class="plans__title">
    <h2 class="plans__title-content">PLANES DE ENTRENAMIENTO PERSONALIZADO</h2>
  </div>
  <div class="plans__text">
    <p class="plans__text-content">
      <span>
        Construyamos juntos tu mejor versión. Te ofrezco diferentes opciones de
        entrenamiento mensual, personalizado según tu nivel, horarios, hábitos y
        necesidades, para que puedas entrenar estés donde estés.
      </span>
      <span
        >Entrenando presencial (en Tucumán) o por seguimiento online (en
        gimnasio o en tu casa), quiero ayudarte a mejorar y cumplir tus
        objetivos.</span
      >
    </p>
  </div>

  <div class="plans__cards" *ngFor="let item of cards">
    <a class="plans__cards-center" [href]="item.message" target="_blank">
      <div class="plans__cards-center-content">
        <img
          src="{{ item.imagen }}"
          alt="imagePlans"
          class="plans__cards-center-content-image"
        />
      </div>

      <div class="plans__cards-title">
        <div class="plans__cards-title-content">{{ item.titulo }}</div>
        <div class="plans__cards-title-span">{{ item.span }}</div>
        <div class="plans__cards-title-text">{{ item.text }}</div>
        <div class="plans__cards-title-wsp">
          <img src="assets/icons/card-wsp-icon.svg" alt="whatsapp icon" />
        </div>
      </div>
    </a>
  </div>
</section>
