<section class="supplements">
    <div class="supplements__title">
        <h2 class="supplements__title-content">¿QUERÉS LOS SUPLEMENTOS DE MEJOR CALIDAD?</h2>
    </div>
    <div class="supplements__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia assumenda nobis, accusamus magnam exercitationem deserunt necessitatibus quam doloribus maiores modi quas mollitia, dolor harum ea quasi aut. Sequi, repellendus in!</div>

    <div class="supplements__body">
        <div class="supplements__body-image">
            <img src="assets/image/imageSupplements.png" alt="" class="supplements__body-image-content">
        </div>

        <div class="supplements__body-image">
            <img src="assets/image/imageSupplements.png" alt="" class="supplements__body-image-content">
        </div>

        <div class="supplements__body-image">
            <img src="assets/image/imageSupplements.png" alt="" class="supplements__body-image-content">
        </div>

        <div class="supplements__body-image">
            <img src="assets/image/imageSupplements.png" alt="" class="supplements__body-image-content">
        </div>
    </div>

    <div class="supplements__footer">
        <a href="https://web.whatsapp.com/"><button class="supplements__footer-button">SABER MÁS</button></a>
    </div>
</section>
