.supplements {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        &-content {
            padding: 30px;
            font-weight: 700;
            font-size: 36px;
            color: rgba(114, 114, 114, 1);
        }
    }
    &__text {
        width: 1130px;
        height: 130px;
        font-size: 24px;
        color: rgba(114, 114, 114, 1);
    }
    &__body {
        display: flex;
        gap: 100px;
        &-image {
            padding-bottom: 30px;
            &-content {
                width: 210px;
                height: 190px;
            }
        }
    }
    &__footer {
        padding-bottom: 30px;
        &-button {
            width: 170px;
            height: 40px;
            background-color:rgba(95, 45, 136, 1);
            color: white;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                background-color: rgba(187, 131, 184, 1)
            }
        }
    }
}