@import "src/variables.scss";
.supplements {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        &-content {
            padding: 30px;
            font-weight: 700;
            font-size: 36px;
            color: $colorSecondary;
        }
    }
    &__text {
        width: 1130px;
        &-content{
        font-size: 24px;
        color: $colorSecondary;
        }
    }
    &__body {
        display: flex;
        gap: 100px;
        &-image {
            padding-bottom: 30px;
            &-content {
                width: 210px;
                height: 190px;
            }
        }
    }
    &__footer {
        padding-bottom: 30px;
        &-button {
            width: 170px;
            height: 40px;
            background-color: $colorButtonPrimary;
            color: white;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.5s;
            font-size: 18px;
            &:hover {
                background-color:$colorButtonSecondary;
            }
        }
    }
}

@media (max-width: 720px) {
    .supplements {
        &__title {
            width: 358px;
            &-content {
                font-size: 24px;
                text-align: center;
            }
        }
        &__text {
            width: 358px;
            &-content {
                font-size: 16px;
                text-align: center;
                padding: 20px;
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            &-image {
                &-content {
                    width: 191px;
                    height: 150px;
                }
            }
        }
        &__footer {
            width: 114px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-button {
                font-size: 14px;
            }
        }
    }
}