  <app-nav-menu></app-nav-menu>
  <app-navbar></app-navbar>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <h1>Hola</h1>
  <!-- <section class="app">
    <app-hero class="hero"></app-hero>
    <app-about-me></app-about-me>
    <app-plans></app-plans>
    <app-help></app-help>
    <app-consultation></app-consultation>
    <app-changes></app-changes>
    <app-contact class="contact"></app-contact>
    </section>
  <app-footer></app-footer> -->
  <router-outlet></router-outlet>
