<section class="changes" id="changes">
  <div class="changes__title">GRANDES CAMBIOS, MEJORES RESULTADOS</div>
  <div class="changes__sub-title">MAG SUPLEMENTOS NUTRICIONALES</div>
  <div class="changes__text">
    Lográ cambios reales con los mejores suplementos que tu cuerpo necesita.
  </div>
  <div class="changes__cto" (click)="navigate()">
    ¡Contáctame para llegar más lejos en tus entrenamientos!
  </div>
  <img
    src="assets/image/Imagechanges.png"
    alt="Cambios reales"
    class="changes__image"
  />
</section>
