<section class="changes" id="changes">
    <div class="changes__content">
        
        <div class="changes__title">
            <h2 class="changes__title-content">ELLOS YA SON PARTE DE MI EQUIPO</h2>
        </div>
    
        <div class="changes__body">
            <div class="changes__body-title">
                <h2 class="changes__body-title-content">Cambios reales en personas como vos</h2>
            </div>
        </div>
    
        <div class="changes__footer">
            <img src="assets/image/imageChanges.png" alt="carrucel" class="changes__footer-image">
        </div>

    </div>
</section>
