@import "src/variables.scss";
.changes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
    &__title {
        &-content {
            font-size: 36px;
            color: $color-white;
        }
    }
    &__body {
        width: 1130px;
        &-title {
            &-content {
                font-size: 32px;
                color: $color-white;
            }
        }
        &-text {
            &-content {
                font-size: 24px;
                color: $color-white;
            }
        }
    }
    &__footer {
        padding-bottom: 40px;
        &-image {
            width: 1128px;
            height: 550px;
        }
    }
}

@media (max-width: 720px) {
    .changes{
        &__title {
            width: 358px;
            padding: 20px;
            &-content {
                font-size: 24px;
                text-align: center;
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &-title {
                width: 355px;
                &-content {
                    font-size: 20px;
                }
            }
            &-text {
                width: 358px;
                &-content {
                    font-size: 16px;
                }
            }
        }
        &__footer {
            &-image {
                width: 290px;
                height: 460px;
            }
        }
    }
}