<section class="consultation" id="consultation">
    <div class="consultation__title">
        <h2 class="consultation__title-text">ASESORAMIENTO A TU MEDIDA</h2>
    </div>

    <div class="consultation__body">
        <div class="consultation__body-subtitle">
            <h2 class="consultation__body-subtitle-text">Nutrición y suplementación Deportiva</h2>
        </div>
    
        <div class="consultation__body-text">
            <p class="consultation__body-text-content">Todos los planes de entrenamiento incluyen una guia con asesorías y recomendaciones en nutricíon y suplementacion deportiva, para complementar tu trabajo, mejorar tu rendimiento y lograr tus objetivos de manera segura.
             </p>
        </div>
    </div>    

    <div class="consultation__footer">
        <h2 class="consultation__footer-title">¡COMENZÁ A MEJORAR TU VIDA AHORA!</h2>
    </div>

    <div class="consultation__button">
        <a href="https://web.whatsapp.com/"><button class="consultation__button-content">SABER MÁS</button></a>
    </div>
</section>
