<section class="consultation" id="consultation">
  <div class="consultation__title">
    <div class="consultation__title-text">Asesoramiento personalizado</div>
  </div>

  <div class="consultation__body">
    <div class="consultation__body-subtitle">
      <div class="consultation__body-subtitle-text">
        Nutrición y suplementación deportiva
      </div>
    </div>

    <div class="consultation__body-text">
      <p class="consultation__body-text-content">
        Todos los planes de entrenamiento incluyen una guía con asesorías y
        recomendaciones en nutrición y suplementación deportiva, para
        complementar tu trabajo, mejorar tu rendimiento y lograr tus objetivos
        de manera segura.
      </p>
    </div>
  </div>

  <div class="consultation__footer">
    <div class="consultation__footer-title">
      ¡Comenzá a mejorar tu vida ahora!
    </div>
  </div>

  <div class="consultation__button">
    <a
      href="https://wa.me/5493813043142?text=Hola Luciana, ¡Quiero comenzar a mejorar mi vida!"
      target="_blank"
      ><button class="consultation__button-content">Contactar</button></a
    >
  </div>
</section>
