@import "src/variables.scss";

.consultation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  padding: 4rem 0px;
  @media screen and (max-width: 720px) {
    padding: 4rem 2rem;
  }
  &__title {
    &-text {
      font-size: 36px;
      font-weight: 700;
      text-align: center;
      color: $color-primary;
      @media screen and (max-width: 720px) {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    &-subtitle {
      &-text {
        font-size: 32px;
        font-weight: 600;
        text-align: center;
        color: $color-primary;
        @media screen and (max-width: 720px) {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
    &-text {
      &-content {
        font-size: 24px;
        font-weight: 400;
        text-align: left;
        color: $color-primary;
        padding: 0 9rem;
        @media screen and (max-width: 720px) {
          font-size: 14px;
          font-weight: 400;
          text-align: center;
          padding: 0 0rem;
        }
      }
    }
  }
  &__footer {
    &-title {
      font-size: 32px;
      font-weight: 600;
      text-align: left;
      color: $color-primary;
      @media screen and (max-width: 720px) {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
  &__button {
    padding-bottom: 30px;
    &-content {
      width: 170px;
      height: 40px;
      border: none;
      outline: none;
      background-color: #ab1ee6;
      color: $color-white;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.5s;
      font-size: 18px;
      @media screen and (max-width: 720px) {
        width: 130px;
        height: 35px;
      }
      &:hover {
        background-color: $color-button-secondary;
      }
    }
  }
}
