@import "src/variables.scss";
.consultation {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        &-text {
            font-size: 36px;
            font-weight: 900;
            color:$colorSecondary;
        }
    }
    &__body{
        &-subtitle {
            &-text {
                font-size: 32px;
                color: $colorSecondary;
            }
        }
        &-text {
            width: 1130px;
            &-content {
                font-size: 24px;
                color: $colorSecondary;
            }
        }
    }
    &__footer {
        &-title {
            font-size: 32px;
            color:$colorSecondary;
        }
    }
    &__button {
        padding-bottom: 30px;
        &-content {
            width: 170px;
            height: 40px;
            background-color:$colorButtonPrimary;
            color: white;
            border-radius: 50px;
            cursor: pointer;
            transition: 0.5s;
            font-size: 18px;
            &:hover {
                background-color: $colorButtonSecondary;
            }
        }
    }
}
@media (max-width: 720px) {
    .consultation {
        &__title {
            width: 286px;
            &-text {
                font-size: 24px;
                font-size: 24px;
                font-weight: 700;
                text-align: center;
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &-subtitle {
                width: 276px;
                &-text {
                    font-size: 20px;
                }
            }
            &-text {
                width: 358px;
                &-content {
                    font-size: 14px;
                    padding: 5px;
                }
            }
        }
        &__footer {
            width: 273px;
            &-title {
                font-size: 20px;
                text-align: center;
            }
        }
        &__button {
            width: 114px;
            height: 35px;
            display: flex;
            justify-content: center;
            &-content {
                font-size: 14px;
            }
        }
    }
}
