<section class="consultation">
    <div class="consultation__title">
        <h2 class="consultation__title-text">ASESORAMIENTO A TU MEDIDA</h2>
    </div>

    <div class="consultation__body">
        <div class="consultation__body-subtitle">
            <h2 class="consultation__body-subtitle-text">Nutrición y suplementación Deportiva</h2>
        </div>
    
        <div class="consultation__body-text">
            <p class="consultation__body-text-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet est saepe eos nisi iste qui tempora, officiis voluptas dicta temporibus cum eaque quae sed accusantium nihil quidem ut. Cum, nemo!
                Deleniti harum sequi doloremque quia dicta repudiandae, beatae et aliquid eius veniam, veritatis quasi perspiciatis maiores alias. Adipisci, voluptatem cum, earum, minus fuga voluptas eaque eos recusandae dolorum natus deleniti!
                Ab odio deserunt nisi! Atque velit odio nulla odit mollitia nisi officiis. Tempora dolor odit repudiandae ex vitae, nemo numquam perferendis illum aliquid mollitia! Debitis, ullam molestiae! Sunt, harum aliquid?
                Enim laboriosam nobis ratione. Nemo assumenda nobis quia deleniti cumque dolorem cupiditate perspiciatis rem dicta et ipsum beatae fuga excepturi ex veniam provident ullam tempore numquam, natus laborum vero culpa?
                Vel consequatur numquam repellendus repudiandae. Rerum totam numquam maiores quod, corporis ut fugit ea inventore officiis natus iusto sequi ex nemo sunt quas hic. Esse debitis saepe velit ea quas.
                Unde deleniti ducimus animi adipisci sapiente quod minus nisi suscipit distinctio ut sint, error hic. Accusamus eligendi odio mollitia fuga ut minima veniam. Veniam quo ullam doloremque exercitationem voluptas dolorem.
                Porro dolor accusantium voluptas exercitationem pariatur eius, alias voluptates rerum ipsam deleniti. Mollitia vel dicta sint impedit eum? Velit aperiam temporibus nihil ea eveniet quos architecto iusto impedit distinctio repellat?
                Alias ipsa sequi fugiat ducimus eos quasi aliquid cupiditate eum soluta perspiciatis architecto saepe inventore, maiores, delectus quo iure numquam, possimus facere voluptatum aut. Illum sunt quis dolorem suscipit neque.
             </p>
        </div>
    </div>    

    <div class="consultation__footer">
        <h2 class="consultation__footer-title">¡Comenzá a mejorar tu vida ahora!</h2>
    </div>

    <div class="consultation__button">
        <a href="https://web.whatsapp.com/"><button class="consultation__button-content">SABER MÁS</button></a>
    </div>
</section>
