.help {
    width: 100%;
    height: 100%;
    &__title {
        display: flex;
        justify-content: flex-start;
        &-text {
            font-size: 32px;
            color: rgba(114, 114, 114, 1);

        }
    }
    &__consultation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:last baseline;
        &-content {
            display: flex;
            gap: 30px;
            &-icons {
                width: 80px;
                height: 80px;            
            }
            &-text {
                color: rgba(114, 114, 114, 1);
                font-size: 24px;
            }
        }
    }
}