@import "src/variables.scss";
.help {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    &__title {
        display: flex;
        justify-content: flex-start;
        padding: 30px;
        &-text {
            font-size: 32px;
            color: $color-primary;

        }
    }
    &__consultation {
        width: 1130px;
        &-content {
            display: flex;
            gap: 30px;
            padding: 30px;
            &-icons {
                width: 80px;
                height: 80px;            
            }
            &-text {
                color: $color-primary;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 720px)  {
    .help {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            &-text {
                font-size: 20px;
            }
        }
        &__mobile {
            &-content {
                width: 240px;
                height: 280px;
            }
        }
        &__consultation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 358px;
                gap: 0;
                &-icons {
                    width: 39px;
                    height: 37px;
                }
                &-text {
                    font-size: 16px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 721px) {
    .help {
        &__mobile {
            display: none;
    }
}
}