.embla-carousel-luciana {
  padding: 4rem 0px;
  padding-bottom: 8rem;
  @media screen and (max-width: 840px) {
    padding: 2rem 0px;
  }
    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 2rem;
      @media screen and (max-width: 480px) {
        justify-content: center;
      }
      &-arrows {
        display: flex;
        gap: 1.5rem;
        &-icon {
          padding: 5px;
          border-radius: 50%;
          background: #ab1ee6;
          cursor: pointer;
          @media screen and (max-width: 480px) {
            height: 16px;
          }
        }
      }
      &-selector {
        display: flex;
        gap: 10px;
        &-dot {
          width: 10px;
          height: 10px;
          background-color: white;
          border: 2px solid #d9d9d9;
          border-radius: 50%;
          box-sizing: border-box;
          &--active {
            border: 2px solid #4a68cb;
          }
          @media screen and (max-width: 480px) {
            display: none;
          }
        }
      }
    }
  
    .embla {
      overflow: hidden;
      margin-bottom: 10px;
      border-radius: 15px;
    }
  
    .embla__container {
      display: flex;
      align-items: center;
      border-radius: 15px;
    }
  
    .embla__slide {
      flex: 0 0 20%;
      margin: 0 10px;
      display: flex;
      justify-content: center;
      border-radius: 15px;
      filter: drop-shadow(0px 5px 5px 5px #000000fa);
  
      .image {
        height: 400px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        @media screen and (max-width: 720px) {
          height: 230px;
          width: 240px;
          border-radius: 15px;
        }
        &--active {
          @media screen and (max-width: 720px) {
            height: 230px;
            width: 240px;
            border-radius: 15px;
          }
        }
      }
    }
  }
  