@import "src/variables.scss";
.navbar {
    position: absolute;
    right: 0;
    &__nav {
        width: 600px;
        height: 0vh;
        background-color: $color-primary;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        pointer-events: none;
        transition: all .5s ease;
        &--active {
          height: 50vh;
          pointer-events: auto;
        }
        &-ul{
          display: flex;
          justify-content: center;
          flex-direction: column;
          &-li{
            margin: .5em 0;
            list-style:none;
            &-hr {
              border: 1px solid $color-secondary;
              width: 534px;
            }
          }
          &-a{
            color: $color-white;
            text-decoration: none;
            font-size: 20px;
            padding-left: 45px;
          }
        }
      }
}

@media (max-width: 720px) {
    .navbar {
        &__nav {
          justify-content: center;
            width: 340px;
            &-ul {
              &-a {
                font-size: 16px;
              }
              &-li {
                margin-bottom: 10px;
                &-hr {
                  width: 305px;
                }
              }
            }
          }
        }
    }