$color-primary: #292929;
$color-secondary: rgba(114, 114, 114, 1);
$color-footer: rgba(51, 187, 181, 1);
$color-button-primary: rgba(95, 45, 136, 1);
$color-button-secondary: rgba(187, 131, 184, 1);
$color-white: #fff;
$color-icon: rgb(50, 188, 180);
