$colorPrimary: rgba(0, 0, 0, 1);
$colorSecondary:rgba(114, 114, 114, 1);
$colorFooter: rgba(51, 187, 181, 1);
$colorButtonPrimary: rgba(95, 45, 136, 1);
$colorButtonSecondary:rgba(187, 131, 184, 1);

